<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Initium</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8">
  <meta name="description" content="Initium">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!-- Semantic UI 2.2 Yay! -->
  <link rel="stylesheet" type="text/css" href="/css/semantic.css">
  <!-- Custom stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/initium.css">
  <!-- jQuery 3.1.0 -->
  <script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
  <!-- Initium :) -->
  <script type="text/javascript" src="/js/initium.js"></script>
</head>
<body>
  <!-- Notification area -->
  <div class="ui notification container"></div>
  <!-- Initium Application header -->
  <div class="ui container">
    <h1>Initium</h1>
  </div>

  <!-- Alerts container -->
  <div class="ui container">
    <div class="ui teal message">
      <div class="header">Initium development</div>
      This is an early development version of Initium. All visible content is work in progres and will mostly change within the development cycle.
      <p>
        <code></code>
      </p>
    </div>
  </div>
</body>
</html>