<div class="ui info message">
  <div class="header">Initium development</div>
  This is an early development version of Initium. All visible content is work in progres and will mostly change within the development cycle. Please report all issues to the issue tracker at git.nullptr.ml.
  <p>
    Session: 
    <code>
      {{.SessionId}}, {{if .Authorized}}Authorized to: {{.AuthToken}}, {{.User.Name}}{{else}}Not authorized{{end}}
    </code>
  </p>
</div>
