<div class="ui container">
  <div class="ui warning message">
    <div class="header">Initium development</div>
    This is a early development version of this web application. Please report all issues to the issue tracker at git.nullptr.ml.
  </div>
  <div class="ui info message">
    <div class="header">Session storage</div>
    Current session ID: {{.SessionId}}
  </div>
</div>
