<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Initium</title>
  <meta name="description" content="">

  <!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width,
  and setting the initial page zoom level to be 1 (initial-scale=1.0), and fixing width=device-width for iOS9 (shtink-to-fit=no) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  
  <!-- Semantic UI 2.2 Yay! -->
  <link rel="stylesheet" type="text/css" href="css/semantic.css">
  <script src="js/jquery-3.1.0.js"></script>
  <script src="js/semantic.js"></script> 
</head>
