<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Initium</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8">
  <meta name="description" content="Initium">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  
  <!-- Semantic UI 2.2 Yay! -->
  <link rel="stylesheet" type="text/css" href="css/semantic.css">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/initium.css">

  <!-- jQuery 3.1.0 -->
  <script src="js/jquery-3.1.0.js"></script>

  <!-- Semantic UI Javascript file -->
  <script src="js/semantic.js"></script> 

  <!-- Initium javascript ;) -->
  <script type="text/javascript" src="js/initium.js"></script>
</head>
<body>
