{{template "header"}}
<!-- Menubar -->
<div class="ui secondary inverted blue menu global">
  <div class="ui container">
    <div class="header item">#InitiumWeb</div>
    <a class="item active">
      <i class="newspaper icon"></i> Blog
    </a>
  </div>
</div>
