{{template "header"}}
<!-- Menubar -->

<div class="ui container">
  <h1>Initium</h1>
</div>

<div class="ui secondary general menu">
  <div class="ui container">
    <div class="item">
      <img src="test.png" />
    </div>

    {{if .Current}}
      <div class="ui pointing dropdown item">
        <i class="cube icon"></i>{{.Current.Title}} {{if .Current.Options}}<i class="dropdown icon"></i>{{end}}
        <div class="menu">
          <a class="item" route="{{.Current.RouteName}}">Index</a>
          {{range .Current.Options}}
            <div class="divider"></div>
            {{if .Title}}
              <div class="header">{{.Title}}</div>
            {{end}}
            {{range .Elements}}
              <a class="item" route="{{.RouteName}}">{{.Title}}</a>
            {{end}}
          {{end}}
        </div>
      </div>
    {{end}}

    {{if .Elements}}
      <div class="ui poiniting dropdown item">
        Modules <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Your modules</div>
          {{range .Elements}}
            <a class="item" route="{{.RouteName}}">{{.Title}}</a>
          {{end}}
        </div>
      <div>
    {{end}}
    
    <div class="right menu">
      <a href="/auth" class="item">
        <img class="ui avatar image" src="test.png" />
        <span>Username</span>
        <i class="dropdown icon"></i>
      </a>
    </div>
  </div>
</div>
