{{template "header"}}
<!-- Menubar -->
<div class="ui secondary inverted blue menu global">
  <div class="ui container">
    <div class="header item">#InitiumWeb</div>
    <a href="/" class="item">
      <i class="newspaper icon"></i> Blog
    </a>
    <a href="/auth" class="item">
      <i class="user icon"></i> Login
    </a>
  </div>
</div>
